<div class="container">
  <div class="error initiallyHidden">
  </div>
  <!-- <div class="form_container">
    <h2>Log In</h2>
    <%#= form_for(@user, url: login_path(@user)) do |f| %>

      <%#= f.label :username %>:
      <%#= f.text_field :username %>

      <%#= f.label :password %>:
      <%#= f.password_field :password %>

      <%#= f.submit 'Submit' %> 

    <%# end %>

  </div> -->
  <div class="oauth">
    <%= button_to "Log In with Yahoo", action: "signin" %>
  </div>
</div>